/**
VARS AND MIXINS
===========================
*/
/* COLORS */
/* FONT SIZES */
/* FONT FAMILY */
/* BREAKPOINTS */
/* MIXINS */
header:after,
.call-01:after,
.call-02:after,
footer:after {
  content: "";
  display: table;
  clear: both;
}

/**
HEADER
===========================
*/
header {
  padding: 0;
  height: auto;
  background: #fff;
  text-align: center;
  padding: 10px 0 5px 0;
  z-index: 200;
}

.logo {
  margin: 0;
}

.logo>img {
  width: 100px;
}

/**
HOME CALLS
===========================
*/
.call-01,
.call-02 {
  box-sizing: border-box;
  padding: 50px 0;
  background-size: cover !important;
  background-position: center center !important;
  min-height: 400px;
}

@media only screen and (max-width: 950px) {

  .call-01,
  .call-02 {
    text-align: center;
    min-height: auto;
    padding-bottom: 70px;
  }
}

.call-01 .holder>img,
.call-02 .holder>img {
  width: 100%;
}

.call-01 h2,
.call-02 h2 {
  margin: 0 0 40px 0;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: -1px;
  color: #fff;
}

@media only screen and (max-width: 950px) {

  .call-01 h2 br,
  .call-02 h2 br {
    display: none;
  }
}

.call-01 p,
.call-02 p {
  margin: 20px 0 0 0;
  line-height: 32px;
  font-size: 16px;
}

.call-link {
  height: 50px;
  border: 2px solid #fff;
  line-height: 50px;
  border-radius: 2px;
  color: #fff;
  padding: 0 25px;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  font-size: 22px;
  background: #fff;
}

@media only screen and (max-width: 950px) {
  .call-link {
    font-size: 18px;
    padding: 0 20px;
  }
}

.call-link:hover {
  background: none;
  color: #fff !important;
}

.call-01 {
  background: url("../../images/home-site-01.jpg");
}

.call-01 .call-infos {
  margin-left: 47%;
  padding-top: 2%;
}

@media only screen and (max-width: 950px) {
  .call-01 .call-infos {
    margin-left: 0;
  }
}

.call-01 ul {
  padding: 0;
  margin: -20px 0 25px 0;
}

.call-01 li {
  list-style-type: none;
  margin-right: 15px;
  display: inline-block;
}

.call-01 li a img {
  width: 180px;
  border-radius: 4px;
}

.call-01 li a img:hover {
  opacity: .9;
}

.call-01 .call-link {
  color: #00caac;
}

.call-02 {
  background: url("../../images/home-site-02.jpg");
}

.call-02 .call-infos {
  margin-right: 47%;
  padding-top: 5%;
}

@media only screen and (max-width: 950px) {
  .call-02 .call-infos {
    margin-right: 0;
  }
}

.call-02 .call-link {
  color: #5c3195;
}

/**
FOOTER
===========================
*/
footer {
  width: 100%;
  padding: 40px 0;
  text-align: center;
  font-size: 16px;
  background: #fff;
}

footer ul {
  padding: 10px 0 0 0;
  margin: 0;
}

footer li {
  list-style-type: none;
  display: inline-block;
  margin: 0 10px;
  font-size: 14px;
}

/**
RESPONSIVE
===========================
*/
/* Viewports */
html,
body {
  width: 100%;
  overflow-x: hidden;
}

@viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}

@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1.0;
}

/* Smartphones */
@media only screen and (max-width: 950px) {
  .menu-trigger {
    border-radius: 2px;
    background: #5d2684;
    color: #fff;
    height: 30px;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
    padding: 0 10px;
    text-transform: uppercase;
    font-size: 12px;
    position: absolute;
    right: 3%;
    top: 9px;
    z-index: 200;
    display: inline-block;
  }

  .menu-trigger:hover {
    opacity: .9;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
}

/**
GENERAL
===========================
*/
a:hover,
header:hover {
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

/* Generic */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  background: #fff;
  margin: 0;
  color: #666;
}

/* Grid */
.holder {
  width: 80%;
  margin: auto;
}

@media only screen and (max-width: 950px) {
  .holder {
    width: 94%;
  }
}

/*# sourceMappingURL=main.css.map */
