/**
CONTENT
===========================
*/

.content {
  @extend %clearfix;
  padding: 50px 0 70px 0;

  @media #{$smartphones-1} {
    margin-top: 0;
  }

  h2 {
    font-size: $font-big-2;
    margin: 30px 0 -5px 0;
    color: $purple;
    font-weight: normal;
  }

  h3 {
    font-size: $font-big;
    margin: 30px 0 -5px 0;
    line-height: 36px;

    br {
      @media #{$smartphones-1} {
        display: none;
      }
    }
  }

  h4 {
    margin: 30px 0 -5px 0;
    font-size: $font-large;
  }

  h5 {
    margin: 20px 0 0 0;
    font-size: $font-medium-2;
  }

  p {
    margin: 20px 0 0 0;
    line-height: 36px;
    font-size: $font-large;

    @media #{$smartphones-1} {
      line-height: 32px;
      font-size: $font-medium-2;
    }
  }
}


/* Post header */

.post-header {
  color: $white;
  background-position: center center !important;
  background-size: cover !important;
  padding: 160px 0;
  margin-top: -2px;
  text-align: center;

  @media #{$smartphones-1} {
    padding: 100px 0;
    margin-bottom: 0;
  }

  .wrapper {
    width: 55%;
    margin: auto;

    @media #{$smartphones-1} {
      width: 94%;
    }
  }
}


/* Content entry */

.content-entry {
  width: 62%;
  float: left;

  @media #{$smartphones-1} {
    width: 100%;
    float: none;
  }

  h1 {
    font-weight: 300;
    color: $purple;
    margin: 20px 0 -10px 0;
  }

  .post-meta {
    font-weight: bold;
    font-size: $font-medium;
  }
}


/* Sidebar */

.sidebar {
  width: 30%;
  float: right;

  @media #{$smartphones-1} {
    width: 100%;
    margin-top: 40px;
    float: none;
  }

  h3 {
    font-size: $font-large;
    margin: 20px 0 20px 0;
    border-bottom: 2px solid $gray-5;
    padding-bottom: 5px;
  }

  h4 {
    font-size: $font-medium;
    line-height: 28px;
    margin: 0;
  }

  a {
    &:hover {
      color: $green;
    }
  }

  ul {
    padding: 0;
    margin: 0 0 40px 0;
  }

  li {
    list-style-type: none;
    margin-top: 20px;
  }
}

/* Images in posts */
.post-content img {
  max-width: 100%;
  height: auto;
  display: block;
  // margin-left: auto;
  // margin-right: auto;
}
